.footer {
  &__menu-wrapper {
    z-index: z('footer');
    position: fixed;
    bottom: 2vw;
    right: 2vw;
  }

  &__label {
    z-index: 100;
    position: relative;
    display: block;
    width: 8vw;
    height: 8vw;
    min-width: 5.4rem;
    min-height: 5.4rem;
    max-width: 9rem;
    max-height: 9rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 0px solid rgb(var(--color-primary));
    transition: border-width $d-slow $ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-white;
      mix-blend-mode: difference;
      opacity: 0;
      transition: opacity $d-slow $ease-out;
    }

    &[data-menu='true'] {
      border-width: 2px;

      @include tablet-landscape {
        border-width: 5px;
      }
    }

    &[data-menu='false'] {
      border-width: 0;
    }

    &[data-theme='true']::after {
      opacity: 0;
    }

    &[data-theme='false']::after {
      opacity: 1;
    }
  }

  &__menu-list {
    @extend %list-reset;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__menu-item {
    display: block;
    margin: $sp-xs 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition-property: transform;
    transition-duration: $d-slower;
    transition-timing-function: $ease-in-out;
  }

  &__menu-checkbox {
    opacity: 0;
    visibility: hidden;

    &:checked + .footer__menu-list {
      @for $i from 1 to 5 {
        .footer__menu-item:nth-child(#{$i}) {
          transform: translate(-50%, calc(#{$i} * #{-$sp-lg} - 70px)) scale(1);
          transition-delay: $i * 0.15s;
        }
      }
    }
  }

  &__switch-label {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background: rgb(var(--color-secondary));
    border: 2px solid rgb(var(--color-primary));
    border-radius: 20px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 4px;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      background: rgb(var(--color-primary));
      opacity: 0.4;
      transition: transform $d-slow $ease-out;
    }

    &[data-theme='true']::before {
      transform: translateX(0);
    }

    &[data-theme='false']::before {
      transform: translateX(30px);
    }
  }

  &__switch-icon {
    margin: 0 $sp-xs / 4;
  }

  &__switch-checkbox {
    opacity: 0;
    visibility: hidden;
  }

  &__menu-anchor {
    background: none;

    &--rh-icon {
      width: 3.2rem;
      height: 3.2rem;
      padding: 0.2rem;
      border: 2px solid rgb(var(--color-primary));
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
