.tl-wrapper {
  margin: 0 0 $sp-lg;
  padding: $sp-base;
  transition: transform $d-slower $ease-out, opacity $d-slower $ease-out;

  @include tablet-portrait {
    margin-bottom: $sp-xl;
  }

  &-status--entering {
    opacity: 0 !important;
  }

  &-status--entered {
    opacity: 1 !important;
  }

  &-status--exiting {
    opacity: 0 !important;
    transform: translateY(-50px);
  }
}
