.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.js--disable-scroll {
    height: 100vh;
    overflow: hidden;
  }

  &.js--intro-animation {
    .logo {
      transform: scale(1) translate(-100%, 50vh);
      will-change: transform;

      .character {
        transform: translateY(100%);
        opacity: 0;
      }
    }

    .intro {
      transform: translateY(150%);
    }
  }
}
