.link-cta {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;

  &::before {
    content: '';
    $width: 3.7rem;
    min-width: $width;
    height: 17px;
    margin: 0 $sp-xs 0 #{($sp-xs + $width) * -1};
    background: url('../svg/arrow.svg') no-repeat left center;
    transition: transform $d-normal $ease-out;
  }

  &:hover {
    text-decoration: none;

    &::before {
      transform: translateX(160px);
    }
  }
}
