.mouse-cursor-button {
  $size: 100px;
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $color-purple;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity $d-slow $ease-in-out;

  &.js--show {
    opacity: 1;
  }

  &__text {
    font-size: $fs-sm;
    line-height: 1;
    text-align: center;
    color: $color-white;
  }
}
