.nav {
  &__list {
    display: flex;
    counter-reset: nav-counter;

    @include tablet-portrait {
      flex-direction: column;
    }

    &:hover .nav__anchor::after {
      opacity: 0;
    }
  }

  &__item {
    counter-increment: nav-counter;
    margin: 0 $sp-xs;

    .nav__anchor:before {
      content: '0' counter(nav-counter) '. ';
    }
  }

  &__anchor {
    position: relative;
    font-weight: 700;
    white-space: nowrap;

    @include tablet-portrait {
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        width: 37px;
        height: 17px;
        background: url('../svg/arrow.svg') no-repeat left center;
        top: 5px;
        left: -40px;
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity $d-slow $ease-in, transform $d-slow $ease-in;
      }

      &[aria-current='page']::after {
        opacity: 1;
        transform: translateX(0);
      }

      &:hover::after {
        opacity: 1 !important;
        transform: translateX(0);
      }

      &:hover {
        text-decoration: none;

        &::after {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
