.svg {
  &-rh-icon {
    path {
      stroke-width: 0;
      stroke: none;
      fill: var(--color-primary);
    }
  }

  &-arrow,
  &-sun-icon,
  &-moon-icon,
  &-twitter-icon {
    stroke-width: 0;
    stroke: none;
    fill: var(--color-primary);
  }
}
