.svg {
  &-twitter-icon {
    stroke-width: 0;
    stroke: none;
    fill: var(--color-primary);
  }

  &-rh-icon {
    path {
      stroke-width: 0;
      stroke: none;
      fill: var(--color-primary);
    }
  }

  &-sun-icon {
    stroke-width: 0;
    stroke: none;
    fill: var(--color-primary);
  }

  &-moon-icon {
    stroke-width: 0;
    stroke: none;
    fill: var(--color-primary);
  }
}
