.word {
  overflow: hidden;
  margin-bottom: -0.25em; // fix a weird line-height bug due to Splitting

  .char {
    transition: transform $d-slower calc(var(--char-index) * 0.035s) $ease-in-out;
    transform: translateY(100%);
  }

  .show & .char {
    transform: translateY(0);
  }

  .leave & .char {
    transform: translateY(-100%);
  }
}
