.content-page {
  &__header {
    margin: 0 0 $sp-base;
    grid-row-gap: 0;

    @include tablet-portrait {
      margin-bottom: $sp-lg;
    }

    .logo {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
      margin: 0 0 $sp-xl;
      font-size: 13px;
      font-weight: 700;
      text-align: right;

      @include tablet-portrait {
        margin-bottom: 0;
      }
    }

    .nav {
      grid-column: -2 / -1;
      grid-row: 1 / 1;

      &__anchor {
        font-size: 13px;
        white-space: nowrap;
      }
    }

    .title {
      @include tablet-portrait {
        grid-column: 2 / 8;
      }

      h1 {
        @include tablet-portrait {
          margin-bottom: 0;
        }
      }
    }

    .subtitle {
      margin: 0 0 $sp-xl;

      @include tablet-landscape {
        grid-column-start: 2;
      }
    }

    .intro {
      grid-column: 2 / -1;
      margin: 0 0 $sp-lg;
      padding: 0 0 $sp-sm;
      border-bottom: 1px solid rgba($color-primary, 0.3);

      @include tablet-landscape {
        grid-column-start: 2;
      }
    }
  }

  &__article-wrapper {
    @include tablet-portrait {
      display: grid;
      grid-template-columns: repeat(
        var(--columns),
        calc(((100vw - 40px - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))
      );
      grid-gap: var(--gutter);
    }
  }

  &__article {
    grid-column: 2 / -2;

    @include tablet-portrait {
      grid-column: 2 / -3;
      columns: 2;
      column-gap: var(--gutter);
    }

    @include tablet-landscape {
      columns: 3;
    }
  }
}
