@font-face {
  font-family: 'made_canvasblack';
  src: url('../fonts/made_canvas_black_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/made_canvas_black_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'made_canvasregular';
  src: url('../fonts/made_canvas_regular_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/made_canvas_regular_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * Hide content
 * {@link https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/}
 */
*[hidden] {
  display: none !important;
}

/**
 * Inheriting box sizing
 * {@link https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/}
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-feature-settings: 'kern' off;
  font-feature-settings: 'kern' off;
  -webkit-font-kerning: none;
  font-kerning: none;
  cursor: default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: $sp-base;
  background-color: $color-blue;
  color: $color-primary;
  @include font-base;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  break-inside: avoid;
  @include font-heading;
}

h1,
.h1 {
  @include font-h1;
}

h2,
.h2 {
  @include font-h2;
}

h3,
.h3 {
  @include font-h3;
}

h4,
.h4 {
  @include font-h4;
}

.title {
  @include font-title;
}

.subtitle {
  @include font-subtitle;
}

strong {
  @include font-strong;
}

a {
  display: inline-block;
  color: $color-primary;
  text-decoration: none;
  // text-decoration-color: #EA215A;
  // text-decoration-thickness: .125em;
  // text-underline-offset: 1.5px;

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -1em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  margin: 0 0 $sp-lg;
  padding: $sp-sm 0;
  border-top: 3px solid rgba($color-primary, 0.3);
  border-bottom: 3px solid rgba($color-primary, 0.3);
  font-weight: 700;
  font-size: $fs-md;
  break-inside: avoid;

  @include tablet-portrait {
    padding-left: $sp-sm;
    padding-right: $sp-sm;
  }

  p:first-child {
    &::before {
      content: '\201C ';
    }

    &::after {
      content: '\201D ';
    }
  }

  cite {
    font-style: normal;

    &::before {
      content: '\2013 ';
    }
  }
}

button {
  @include button-reset;
  color: $color-off-white;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-style: italic;
}

section {
  margin: 0 0 $sp-md;
}

nav {
  ul,
  ol {
    @extend %list-reset;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p,
figure,
blockquote,
ul li,
ol li {
  margin: 0 0 $sp-base;

  &:last-child {
    margin-bottom: 0;
  }
}
