/* stylelint-disable-line no-empty-source */

$color-pink: 236, 155, 155;
$color-blue: 65, 39, 121;
$color-brown: 118, 64, 64;
$color-off-white: 233, 233, 233;

$color-dark: #1d1d1d;
$color-white: #fff;

$color-primary: $color-brown;
$color-secondary: $color-off-white;
$color-heading: $color-primary;

$color-invalid: #c61617;
$color-success: #56c271;
$color-disabled: #ddd;
