/* stylelint-disable-line no-empty-source */
$color-green: #21b579;
$color-purple: #979ae1;
$color-yellow: #f9b268;

$color-dark: #1d1d1d;
$color-white: #fff;
$color-off-white: #f8f6f0;

$color-grey: #ebebeb;
$color-grey-dark: #474747;

$color-primary: $color-green;
$color-secondary: $color-purple;

$color-heading: $color-primary;

$color-invalid: #c61617;
$color-success: #56c271;
$color-disabled: $color-grey;
