$primary-font: 'Abhaya Libre', serif;
$heading-font: $primary-font;

$fs-xs: 1.2vmax;
$fs-sm: 1.8vmax;
$fs-base: 2.4vmax;
$fs-md: 3.2vmax;
$fs-lg: 5.4vmax;
$fs-xl: 7.2vmax;

@mixin font-base {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@mixin font-body {
  @include font-base;
  font-size: $fs-base;
  line-height: 1/16 * 25;

  @include mobile-only {
    font-size: $fs-sm;
    line-height: 1/20 * 30;
  }
}

@mixin font-heading {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: $color-primary;

  @include tablet-portrait-up {
    white-space: nowrap;
  }
}

@mixin font-h1 {
  margin: 0 0 $sp-sm;
  font-size: $fs-lg;
  line-height: 0.9;

  @include tablet-portrait-up {
    font-size: $fs-lg;
    line-height: 1/50 * 70;
  }

  @include tablet-landscape-up {
    line-height: 1/80 * 105;
  }
}

@mixin font-h2 {
  margin: 0 0 $sp-sm;
  font-size: $fs-md;
  line-height: 1/21 * 35;

  @include tablet-portrait-up {
    font-size: $fs-lg;
    line-height: 1/31 * 45;
  }
}

@mixin font-h3 {
  margin: 0 0 $sp-sm;
  font-size: $fs-md;
  line-height: 1/18 * 30;

  @include tablet-portrait-up {
    font-size: $fs-lg;
    line-height: 1/22 * 35;
  }

  @include tablet-landscape-up {
    line-height: 1/32 * 40;
  }
}

@mixin font-h4 {
  margin: 0 0 $sp-sm;
  font-size: $fs-md;
  line-height: 1/18 * 30;

  @include tablet-portrait-up {
    font-size: $fs-lg;
    line-height: 1/24 * 35;
  }

  @include tablet-landscape-up {
    line-height: 1/24 * 40;
  }
}

@mixin font-lead {
  font-weight: 400;
  font-style: normal;
  font-size: $fs-base;
  line-height: 1/16 * 25;

  @include mobile-only {
    font-size: $fs-sm;
    line-height: 1/20 * 30;
  }

  @include tablet-portrait-up {
    font-size: $fs-sm;
    line-height: 1/24 * 35;
  }
}

@mixin font-strong {
  font-weight: 400;
  font-style: normal;
}

@mixin font-small {
  font-size: $fs-base;
  line-height: 1/16 * 20;
}

@mixin underline($color-border: $color-primary) {
  display: block;
  position: relative;
  padding-bottom: $sp-sm;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw * (1/32);
    border-bottom: 3px solid $color-border;
  }
}
