$primary-font: 'Abhaya Libre', serif;
$heading-font: $primary-font;

$fs-base: 1.7rem;
$fs-md: 2.4rem;
$fs-lg: 3.2rem;
$fs-xl: 4.8rem;

@mixin font-base {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: $fs-base;
  line-height: 1.2;
}

@mixin font-heading {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: $color-heading;
  margin: 0 0 $sp-base;

  @include tablet-landscape {
    margin-bottom: $sp-md;
  }

  @include desktop {
    margin-bottom: $sp-lg;
  }
}

@mixin font-h1 {
  margin: 0 0 $sp-sm;
  font-size: $fs-lg;
  line-height: 1.2;
}

@mixin font-h2 {
  margin: 0 0 $sp-sm;
  font-size: $fs-md;
  line-height: 1.667;
}

@mixin font-h3 {
  margin: 0 0 $sp-sm;
  font-size: $fs-md;
  line-height: 1.667;
}

@mixin font-h4 {
  margin: 0 0 $sp-sm;
  font-size: $fs-md;
  line-height: 1.667;
}

@mixin font-strong {
  font-weight: 400;
  font-style: normal;
}

@mixin font-title {
  font-family: 'made_canvasblack', 'Abhaya Libre', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: $color-primary;

  $min_width: 320px;
  $max_width: 1440px;
  $min_font: 50px;
  $max_font: 210px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

@mixin font-subtitle {
  font-family: 'Abhaya Libre', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: $color-primary;
  font-size: $fs-base;

  @include tablet-portrait {
    font-size: $fs-md;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
