@font-face {
  font-family: 'made_canvasblack';
  src: url('../fonts/made_canvas_black_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/made_canvas_black_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'made_canvasregular';
  src: url('../fonts/made_canvas_regular_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/made_canvas_regular_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  @include font-base;
}

p {
  margin: 0 0 $sp-md;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet-landscape-up {
    margin-bottom: $sp-lg;
  }
}

strong {
  @include font-strong;
}

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -1em;
}

sub {
  bottom: -0.25em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  @include font-heading;
  margin: 0 0 $sp-base;
  color: $color-heading;

  @include tablet-landscape-up {
    margin-bottom: $sp-md;
  }

  @include desktop-up {
    margin-bottom: $sp-lg;
  }
}

h1,
.h1 {
  @include font-h1;
}

h2,
.h2 {
  @include font-h2;
}

h3,
.h3 {
  @include font-h3;
}

h4,
.h4 {
  @include font-h4;
}

.title {
  @include font-title;
}

.subtitle {
  @include font-subtitle;
}
